.content {
    max-width: 600px;
    margin: 60px 10px 10px;
}

.view {
    display: none;
}

.btn {
    margin-bottom: 1em;
}

.btn-wide {
    width: 100%;
}

.player-circle-icon {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin-right: 20px;
    background-color: red;
}

.player-circle-icon.small {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}


.player-form {
    position: relative;
    left: 100px;
}

.form-control {
    font-weight: normal;
}

.form-control.error {
    background-color: #fcc;
}

.list-group-select .list-group-item {
    cursor: pointer;
}

.list-group-select .list-group-item:hover {
    background-color: #eee;
}

.list-group-select .list-group-item.selected {
    color: white;
    background-color: #44f;
}

.list-group-select .list-group-item.selected:hover {
    background-color: #33f;
}
